*,
*::before,
::after
{
    margin:0;
    padding:0;
}

body {
    margin: 0;
    background: #331c45;
    
}

.primarybg {
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #58d6bb 100%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    background-color: rgb(49, 143, 252);
    justify-content: space-between;
    align-content: center;
    z-index: 99;
}



.navtitle {
    font-size: 2em;
    user-select: none;
    color: #ffffff;
}

.navLogin {
  display: inline-block;
  position: relative;
  color: #ffffff;
  
}

.navLogin:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navLogin:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    padding: 1vh, 0vh, 1vh;
    float:right;
    
}
header ul li {
    height: fit-content;
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color:#f7f8f8;
}

header ul li:hover {
    background-color: #fd8e4e;
}


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&family=Quicksand:wght@600&display=swap');
.quickfont {
    font-family: 'Outfit', sans-serif;

    font-family: 'Quicksand', sans-serif;
}

header li a {
    color:  #f6f2f2;
    text-decoration: none;
    
    font-family: 'Open Sans', sans-serif;
}


.searchbox {
    padding: 3em;
    
    display: flex;
    
    justify-content: center;
}

.trackform {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
    width: 20em;
    align-items: center;
    justify-content: center;
    background:  #e2ecf6 ;
}

.trackform #query {
    border:0;
    outline:0;
    background-color: #e2ecf6;
    width: 25em;
}
.trackform #query:focus {
    outline:none!important;
}

.searchbutton {
    border: 0;
    border-radius: 10px;
    background-color: rgb(110, 85, 202);
    background-image: url("/static/images/search.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    width: 4vw;
    height: 4vh;
}

.searchbutton:active {
    background-color: rgb(185, 201, 255);
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }

  .resultContainer {
    height: 100%;
  } 
  
  .cards {
    min-height: 65vh;
    height: 100%;
    transition: 0.3s;
    width: 45%;
    margin: 0 auto 2vh auto;
  }
  
  .cardbody {
    position: relative;
  }
  
  .cardcontainer {
    padding: 12px;
    background-color: #FFF5C3;
    min-height: none;
  }

  .card {
    padding: 5px 3px 4px 4px;
    border-radius: 0!important;
    border-bottom: 1px solid!important;
    border-bottom-style: dashed!important;
    box-shadow: none;
  }

  .grayBG {
    background-color: #fdfeff!important;
  }


  .titleStyle {
    font-weight: bold;
    float: left;
  }

  .stats {
    display: inline-flex;
    justify-content: space-around;
    margin-right: 4em;
  } 

  .popup {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,0.8);
    display: none;
  }

  #displayLogin {
    display: none;
  }
  

  .wrap {

    margin: 70px auto;
    padding: 20px auto;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    
  }


  .wrap .logincontent {
    max-height: 30%;
    overflow: auto;
  }

  .box {
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);

  }

  

  .loginform {
    margin: auto;
}

  .loginform h2 {
    margin: auto;
    margin-bottom: 2vh;
    color: rgb(0,0,0);
    content:'';
    display: block; 
  }
  .userbar {    
    margin: auto;
    margin-bottom: 2em;
    content:'';
    display: block; 
  }

  .passbar {
    margin: auto;

    content:'';
    display: block; 
  }

  .loginbutton {
    margin: auto;

    content:'';
    display: block; 
  }

  .userlabel, .passlabel{
    color: black;
    left: 3em;
  }

  .pagination-container {
    display: flex;
    align-items: center;
    bottom: 0;
    justify-content: center;
    
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem 2vh;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
    color: white;
    
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
    color: black;
  }
  
  .pagination-number.active {
    color: #fff;
    background: #0085b6;
  }

  .prev-button {
    color: white;
  }

  .next-button {
    color:white;
  }
  
  .nav {
    position: fixed;
    width: 100vw;
    display: grid;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fdfeff;
    z-index: 7;
  
    /* Individual value for the menu icon, then auto size the rest */
    grid-template-columns: 60px repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  
    /* This is the layout for the navbar in expanded mobile mode */
    grid-template-areas:
      "collapser brand"
      "collapsable collapsable";
  
    border-bottom: 1px solid #0005;
  }
  
  .nav__collapser {
    grid-area: collapser;
    width: 30px;
  }
  
  .nav__brand {
    font-weight: bold;
    font-size: 1.2rem;
    grid-area: brand;
    margin: auto;
    margin-bottom:.5rem;
  }
  
  .nav__cta {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .nav__collapsable {
    display: grid;
    align-items: center;
    gap: 1rem;
    width: 100%;
    grid-area: collapsable;
  
    /* This is what hides the content */
    overflow: hidden;
    max-height: 0;
  
    transition: padding 500ms ease, max-height 250ms ease;
  }
  
  .nav--expanded .nav__collapsable {
    max-height: 500px; /* This is what shows the content */
    margin-top: 1rem;
    padding: 2rem 0;
  }
  
  /*Desktop mode styles */
  @media (min-width: 700px) {
    .nav {
      grid-template-columns: repeat(4, auto);
      grid-template-areas: "brand . collapsable collapsable";
    }
  }
  
    .nav__collapser {
      display: none;
      margin: auto;
    }
  
    .nav__collapsable {
      max-height: 500px;
      display: flex;
      justify-content: center;
    }
  
    .nav--expanded .nav__collapsable,
    .nav__cta {
      padding: 0;
      margin: 0;
    }
  
    .nav__collapsable {
      display: flex;
      gap: 2rem;
    }
  
    .nav__cta {
      margin-left: 1.5rem;
    }

  
  @media (min-width: 1000px) {
    html {
      font-size: 1.25rem;
    }
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .cta {
    font-size: 1.1rem;
    border-radius: 2em;
    padding: 0.5em 1em;
    border: 1px solid #0005;
  }
  
  .cta--bold {
    background-color: #333;
    color: white;
    font-weight: bold;
  }

  .itemControl {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem .5rem;
  }

 .add {
    font-family: inherit;
    outline: none;
    border: none;
    background-color: white;
    padding: 1px;
    width: 1.7rem;
    height: 1.7rem;
    box-shadow: 0px 0px 2px #767b91;
    
    cursor: pointer;
    
    
  }

  svg {
    width: .75rem;
    height: .75rem;
    fill: #4f546c;
  }

  &-open .add svg {
    transform: rotatez(135deg);
  }