<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>NutriTracker</title>
<link rel="stylesheet" href="/static/spreadsheets/homestyle.css">
<link rel ="stylesheet" href="/static/spreadsheets/animation.css">
<link rel ="stylesheet" href="/static/spreadsheets/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<body class = "primarybg">
    <nav class="nav">
        <img class="nav__collapser" src="/static/images/burger.png" alt="Collapse">
        <a href="/" class="nav__brand">NUTRITRACKER</a>

        <div class="nav__collapsable nav__cta">
            <a href="/" class = "cta">Add Foods</a>

            <div class="nav__cta">
                <a href="#" class="cta">My Stats</a>
                
                <a href="#" class="cta cta--bold">My List</a>
            </div>
        </div>

    </nav>

    
</body>
<script src = "/static/data.js"></script>

</html> 